body {
  background-color: var(--primary);
}

body{
  margin: 50rem 0;
}

.main-container {
  margin: 0 auto;
  max-width: 470px;
  text-align: center;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.input-section {
  margin-top: 15rem;
  width: 45rem;
  height: 30rem;
  background-color: var(--primary-tint-2);
  padding: 2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

#header {
  font-size: 3.8rem;
  padding-bottom: 2rem;
}

#result {
  font-size: 2.1rem;
}

.input {
  width: 30rem;
  height: 4rem;
  border-radius: 2rem;
  text-align: center;
  background-color: var(--secondary);
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.input::placeholder {
  text-align: center;
}

#operator {
  width: 6rem;
  border-radius: 2rem;
  text-align: center;
  font-size: 2rem;
  background-color: var(--secondary-tint-2);
  color: var(--grey);
}

#button {
  width: 20rem;
  height: 3rem;
  border-radius: 2rem;
  color: var(--white);
  font-size: 2.1rem;
  background-color: var(--grey);
}

.diplay-result {
  width: 45rem;
  height: 10rem;
  padding: 3rem;
  border-radius: 2rem;
  background-color: var(--primary-tint);
  color: var(--white);
}

@media (max-width: 480px) {
  .main-container {
    margin: 10rem 0;
  }
  .input-section {
    width: 35rem;
    height: 35rem;
    font-size: 2.8rem;
  }
  .diplay-result {
    width: 35rem;
  }

  .input::placeholder {
    font-size: 1.4rem;
  }
}
